* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: brown;
  margin: auto;
}
.d {
  background: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.hh {
  background: green;
  width: 150px;
  align-items: center;
}
